.hero {
  /* height: 100vh; */
  width: 100%;
  background-color: #051e35;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-bottom: 100px;
}

.herocontect{
    padding-top:200px;
    margin-left: 50px;
}

.name {
  font-size: 16px;
  color: #fff;
  font-weight: 700;
  width: 200px;
  padding-block: 7px;
  border-radius: 10px;
  padding-inline: 14px;
  background-color: #063560;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 20px;
}

.introduction{
    color: #fff;
    font-size: 72px;
    word-spacing: 3px;
    letter-spacing: 3px;
    font-weight: 800;
    text-transform: uppercase;
}

.highlight{
    color: #0788ff;
}

.description{
    color: #ffffff93;
    font-size: 20px;
    margin-top: 20px;
    width: 500px;
    padding-block: 10px;
    /* border: 1px solid #ffffff1f; */
    line-height: 1.7rem;
    font-weight: 700;
}

.btn2{
  height: 50px;
  width: 200px;
  background-color: #0788ff;
  border: none;
  outline: none;
  border-radius: 20px;
  margin-top: 10px;
  text-transform: uppercase;
  color: #fff;
  font-weight: 700;
  letter-spacing: 2px;
  font-size: 16px;
}

.btn2:hover{
    background-color: #041e35;
    border: 2px solid #ffffff;
    transition: all 0.1s;
}

.icons-button {
  display: flex;
  align-items: center;
  margin-top: 10px;
  gap: 20px;
}

.icons-button i{
  color: #ffffff51;
  font-size: 42px;
  margin-left: 10px;
 border-radius: 50%;
 cursor: pointer;
  /* border: 1px solid; */
  margin-top: 10px;
  
}

.icons-button i:hover{
  color: #fff;
  background-color: #ffffff1f;
  transition: all 0.2s;
}

.posterImage{
  height: 500px;
  width: 500px;
  margin-left: 50px;
  margin-top: 200px;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  /* border: 1px solid red; */
}

.posterImage img{
  height: 100%;
  width: 100%;
  border-radius: 20px;
  object-fit: cover;
}

@media(max-width:1024px){
  .posterImage{
    max-width: 350px;
    height: 350px;
  }
  .posterImage img{
    width: 160%;
    height: 100%;
  }
}
@media(max-width:900px){
.hero{
  display: flex;
  flex-direction: column;
 
} 
.posterImage{
   margin-top: 20px;
   margin-left: -200px;
   /* margin-bottom: -500px; */
   height: 500px;
   width: 800px;
  }
}


@media(max-width:630px){
  .posterImage{
    width: 100%;
    height: 500px;
    margin-left: 0px;
  }
  .posterImage img{
    width: 100%;
    height: 100%;
  }
  .herocontect{
    padding-top: 50px;
    margin-left: 0px;
    text-align: center;
  }
  .introduction{
    font-size: 50px;
  }
  .description{
    /* width: 100%; */
    font-size: 14px;
  }
  .btn2{
    margin-left: 100px;
    height: 44px;
    width: 180px;
  }
  .icons-button i{
    font-size: 28px;
  }
}

@media(max-width:500px){
  .introduction{
    font-size: 32px;
  }
  .herocontect p{
    font-size: 12px !important;
    width: 100%;
   
  }
  .btn2{
    margin-left: 10px;
    height: 40px;
    width: 150px;
    font-size: 14px;
  }
  .posterImage{
    width: 100%;
    height: 450px;
    /* margin-left: 10px; */
    margin-top: 20px;
  }
  .name{
   margin-left: 100px;
  }
}